.main {
   

    & .newsletter-section {
        margin-bottom: 20px;

        & .file {
            display: none;
        }
    }


}

#send-newsletter-email{
    color: #fff;
    background-color: #000;

}

#add-newsletter-archive {
    width:136px;
}





